/* All Font Settings Should be Here */

@font-face {
    font-family: 'Protest_Riot';
    src: url('../../public/ProtestRiot-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  body {
    font-family: 'Protest_Riot', fallback-font, sans-serif;
  }