
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One:wght@400&display=swap");

body{
    overflow: hidden;
    font-family: 'Kotta One', serif;
}

.leaderboard-page{
    top: 25%;
    width: 40vw;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    background: rgba(226, 233, 214);
    position: absolute;
    left: 30%;
    margin-top: 20px;
    padding: 10px 10px 0 10px;
    border-radius: 15px;
}

.innerBoard{
    background-color: white;
    border-radius: 15px;
    height: 47vh;
}

.tbl{
    height: 25vh;
    overflow-y:scroll;
}

.GiTrophy{
    width: 15vw;
    height: 20vh;
    margin-left: 30%;
    color: gold;
}

#image{
    width: 15px;
    height: 15px;
    color: black;
}

#placement{
    font-size: 3vh;
}






