.navbar-bot {
    background-color: #c4d3ad; 
    padding: 3px;
    font-weight: bold;
    color: #ffcc00;
  }

  .nav-item {
    padding: 0%;
  }
  
  .navbar-bot .nav-item .nav-link {
    color: black; 
    margin-right: 0px; 
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-bot .nav-item .nav-link:hover {
    text-decoration: none;
    border-radius: 10px; 
    background-color: #93b27d;
  }
  
  .navbar-bot .nav-item .nav-link.active {
    font-weight: bold;
    border: 0px solid; 
    border-radius: 10px; 
    background-color: #93b27d;
  }

  .navbar-top {
    background-color: #548f68; 
    padding: 5px;
  }
  

  