:root {
    --light-green-color: #c4d3ad; 
    --lighter-green-color: #E2E9D6; 
    --dark-green-color: #92B27A; 
}
.main-container{
    font-family: 'Kotta One', serif;
}
.profile{
    display: inline-flex;
    margin-top: 2%;
    width: 70%;
}
.profilePic{
    width: 25%;
    height: 25%;
    margin-right: 55px;
    color: grey;
}
.profilePic:hover{
    cursor: pointer;
}
.editprofile{
    font-size: 2vw;
}
.profileInfo{
    font-size: 2.6vw;
    width: 100%;
}
.profileInfo td{
    border-bottom: 0.5px solid #000; 
    width: 33%;
}
#pen{
    float: right;
}
.friendsForm{
    background: rgba(226, 233, 214, 1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2) ;
    border-radius: 15px;
    width: 90vw;
    margin-top: 5%;
    padding: 0.8%;
}
.myFriendsTitle{
    position:relative;
    top:1.25vh;
    float: left;
    font-size: 3vw;
}
.addFriendsButton{
    float: right;
    background: rgba(146, 178, 122, 1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2) ;
    border-radius: 15px;
    padding: 0.5%;
    color: white;
    font-size: 2vw;
    width: 17vw;
    height: 10vh;
}
.friendsList{
    margin-top: 5%;
    background-color: white;
    width: 100%;
    border-radius: 12px;
}
.friend{
    font-size: 90%;
    border-bottom: 0.5px solid #000; 
}
#viewProfile:hover{
    text-decoration: underline;
    cursor: pointer;
}
.deleteFriend:hover{
    text-decoration: underline;
    cursor: pointer;
}
.profile tr:hover{
    background-color: var(--lighter-green-color);
    cursor: pointer;
}
.friendsForm tr:hover{
    background-color: var(--light-green-color);
}
@media (max-width: 780px) {
    .profile{
        width: 542px;
    }
    .profilePic{
        width: 135px;
    }
    .profileInfo{
        width: 377px;
    }
    .profileInfo td{
        width: 33%;
    }
    .friendsForm{
        width: 697px;
    }
    .addFriendsButton{
        padding: 0.5%;
    }
    .friendsList{
        width:685px;
    }
}
img{
    width: 120%;
}