
.overlay{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.viewChallengePage{
    margin-left: 10%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    height: 50vh;
    width: 80%;
    position: absolute;
    background-color: rgba(226, 233, 214);
    top: 10vh;
    padding: 10px 10px 20px 10px;
    position: absolute;
    z-index: 2;
}

.viewTop{
    margin-left: 10%;
    font-size: 2vh;
    margin-top: 5%;
}

#Title{
    font-size: 3vh;
}

.inp{
    margin-bottom: 15px;
    margin-top: 10px;
}

.views{
    height: fit-content;
}

.value{
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 0.5px solid var(--color-black);
    margin-left: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    position: fixed;
    left: 22vh;
    width: 50%;
    height: 5%

}

.Viewcontent{
    border-radius: 15.02px;
    border: 0.5px solid var(--color-black);
    background-color: white;
    width: 85%;
    height: 45%;
    font-family: Kotta One;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

.TableHead{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(226, 233, 214);
    font-size: 1.2vw;
    height: fit-content;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    text-align: start;
    vertical-align: middle;
}

.TableHead table{
    border-collapse: collapse;
    width: 100%;
    border-style: hidden;
}

#Table{
    border-top-style: hidden;
}


.close_btn{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 10%;
    height: 10%;
    font-size: 1.5vw;
    font-family: Kotta One;
    border: 0;
    text-align: center;
    color: black;
    background:#92B27A;
    box-shadow: 0 2px 5px rgba(0,0,0,0.30);
    border-radius: 1.5vw;
}