.text{
    font-family: 'Kotta One', serif;
}

.SignUp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.SignUp .wrapper{
    margin: auto;
    height: 50vh;
    padding-top: 40px;
}

.SignUp button{
    font-size: 20px;
    color: white;
    width: 30%;
}

.signup-Top{
    position: relative;
    margin-left: auto;
    top: 18vh;
    text-align: center;
    font-family: 'Kotta One', serif;
}

